@use '../styles/colors';
@use "@material/theme" with (
  $primary: colors.$boulder,
  $secondary: colors.$boulder,
);
@use '@material/button/mdc-button';
@use '@material/drawer/mdc-drawer';
@use '@material/form-field/mdc-form-field';
@use '@rmwc/icon/icon';
@use '@material/icon-button/mdc-icon-button';
@use '@material/list/mdc-list';
@use '@material/menu/mdc-menu';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/radio/mdc-radio';
@use '@material/select/mdc-select';
@use '@material/textfield/mdc-text-field';

.app {
  min-width: 500px;
  max-width: 1024px;
  margin: 0 auto;
}
