@use '../styles/colors';
@use "@material/theme" with (
  $primary: colors.$alizarin-crimson,
  $on-primary: colors.$white,
  $secondary: brown,
  $on-secondary: brown,
  $surface: brown,
  $on-surface: green,
);
@use "@material/button/mdc-button";
@use "@material/button";
@use '@material/textfield/mdc-text-field';
@use '@material/textfield';

.app {
  min-width: 500px;
  max-width: 768px;
  margin: 0 auto;
}
