@use '../styles/functions/color';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background: color.color(footer-background);
  color: color.color(footer-foreground-1);
  height: 3.5rem;
  margin: 0 auto;
  padding: 0 0.75rem;

  &__text-1 {
    flex: 1 0 50%;
    color: color.color(footer-foreground-1);
  }
  
  &__text-2 {
    color: color.color(footer-foreground-2);
  }

  &__text-3 {
    flex: 1 0 45%;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: color.color(footer-foreground-1);
  }
}
