@use '../styles/functions/color';
@use '../styles/colors';
@use '@material/button';
@use '@material/drawer';
@use '@material/radio';
@use '@material/select';
@use '@material/textfield';

.home {
  padding: 1rem;
  background: color.color(main-background);
  min-height: 35rem;
  
  &__search-text-field {
    &#{&} {
      @include textfield.fill-color(colors.$white);
      @include textfield.ink-color(colors.$mine-shaft);
      @include textfield.placeholder-color(colors.$boulder);
      @include textfield.outline-color(colors.$white);
      @include textfield.focused-outline-color(colors.$white);
      @include textfield.hover-outline-color(colors.$white);
      @include textfield.height(36px); // 2.25rem
      @include textfield.outlined-height(36px);
      min-width: 38rem;
      margin-right: 2.1rem;
    }
  }

  &__search-button {
    &#{&} {
      @include button.filled-accessible(colors.$alizarin-crimson);
    }
  }

  &__department-filter {
    &#{&} {
      @include select.ink-color(colors.$mine-shaft);
      @include select.container-fill-color(colors.$white);
      @include select.outline-color(colors.$boulder);
      @include select.label-color(colors.$mine-shaft);
      @include select.focused-label-color(colors.$mine-shaft);
      @include select.focused-outline-color(colors.$mine-shaft);
      margin-top: 2rem;
    }
  }

  &__loading-message, &__results-message, &__error-message {
    font-size: 14px;
    margin : 0.5rem 0;
  }

  &__course-drawer-content {
    padding: 2rem;
    background: color.color(drawer-background);
  }

  &__course-drawer-subcontent {
    margin-bottom: 2rem;
  }

  &__course-drawer-subcontent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__course-drawer-subtitle {
    margin: 0;
    font-size: 18px;
    font-style: italic;
  }

  &__course-drawer-browse-button {
    &#{&} {
      @include button.filled-accessible(colors.$alizarin-crimson);

      .mdc-button__icon.mdc-button__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0;
        margin-right: 0;
        font-size: 22px;
      }
    }
  }

  &__course-drawer-submit-button {
    &#{&} {
      @include button.filled-accessible(colors.$malibu);
      margin-bottom: 2rem;

      .mdc-button__icon.mdc-button__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0;
        margin-right: 0;
        font-size: 22px;
      }
    }
  }

  &__course-drawer-icon {
    margin-left: 0.25rem;
    margin-right: 0;
  }

  &__course-drawer-radio-buttons {
    display: flex;
  }
  
  &__course-drawer-radio-button {
    margin-right: 1rem;
    font-size: 16px;
  }

  &__course-drawer-text-area {
    &#{&} {
      margin-top: 1rem;
      @include textfield.fill-color(colors.$white);
      @include textfield.outline-color(colors.$white);
      @include textfield.focused-outline-color(colors.$white);
      @include textfield.hover-outline-color(colors.$white);
    }
  }

  .mdc-drawer--modal {
    top: 0;
    width: 750px;
    height: 100%;
  }

  .mdc-drawer__content {
    overflow: hidden;
  }

  &__course-drawer-spreadsheet-row {
    margin-bottom: 1rem;
    font-size: 14px;
    font-style: italic;
  }

  &__course-drawer-spreadsheet-rows {
    height: 21rem;
    overflow: auto;
  }

  &__pagination {
    display: flex;
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0;

    li:first-child {
      padding: 0.5rem 0.5rem 0.5rem 0;
    }
    
    li {
      padding: 0.5rem;
    }
  }

  &__pagination-page-link {
    color: colors.$alizarin-crimson;
  }
  
  &__pagination-active-link {
    color: colors.$mine-shaft;
  }
  
  &__pagination-previous-link, &__pagination-next-link {
    color: colors.$alizarin-crimson;
  }

  &__pagination-disabled-link {
    color: colors.$boulder;
  }

  &__pagination-break-link {
    color: colors.$alizarin-crimson;
  }
}
