@use '../styles/functions/color';
@use '../styles/colors';
@use '@material/button';
@use '@material/textfield';

.video-card {
  margin-bottom: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  background: color.color(card-background);
  // Add shadows
  box-shadow: 0 2px 4px 0 color.color(card-border);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 4px 8px 0 color.color(card-border);
  }
  
  &__image {
    object-fit: cover;
    width: 30%;
    height: 135px;
  }

  &__content {
    padding-left: 1rem;
  }

  &__title {
    font-size: 24px;
    color: black;
  }

  &__description, &__footer {
    padding-top: 0.25rem;
    font-size: 14px;
    color: color.color(card-duration);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.25rem;
    font-size: 14px;
    color: color.color(card-duration);
  }

  &__buttons {
    display: inline-block;
  }

  &__duration {
    margin-right: 2rem;
  }

  .video-card__button {
    margin-right: 2rem;
    @include button.container-fill-color(color.color(card-background));
    @include button.ink-color(color.color(card-button-foreground));
  }
}

.video-container {
  // display: inline-block;
  // width: 50%;
  overflow: hidden;
  padding-bottom: 56.25%; // To get a 16:9 ratio
  position: relative;
  height: 0;
}

.video-iframe {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.video-controls {
    display: flex;
    //align-items: center;
    margin: 1rem 0 0 0;

  .video-controls__text-field {
    @include textfield.fill-color(colors.$white);
    @include textfield.ink-color(colors.$black);
    @include textfield.label-color(colors.$boulder);
    @include textfield.placeholder-color(colors.$boulder);
    @include textfield.outline-color(colors.$black-20);
    @include textfield.focused-outline-color(colors.$black-20);
    @include textfield.hover-outline-color(colors.$black-20);
    @include textfield.height(50px); // 2.25rem
    @include textfield.outlined-height(36px);
    width: 10rem;
    margin-right: 1rem;
  }

  .video-controls__embed {
    // @include button.height(50px);
    @include button.container-fill-color(color.color(main-background));
    @include button.ink-color(color.color(card-button-foreground));
    width: 10rem;
  }
}

.video-select {
  padding: 1rem;
  border: 3px solid colors.$alizarin-crimson;
  margin-bottom: 2rem;
}
